<article>
    <h2>Proyectos
        <i class="bi bi-plus-circle"></i>
    </h2>
    
    <div class="proyect-container">
        <div class="card-proyect">
            <div class="edit-control">
                <i class="bi bi-pencil-square"></i>
                <i class="bi bi-trash3"></i>
            </div>
            <div class="proyect-hero">
                <h3>Argentina Programa</h3>
                <img src="../assets/images/proyectcomputerguy.png" alt="Portfolio" />
            </div>
            <div class="proyect-info">
                <p class="card-paragraph">
                    Portfolio web - Argentina Programa #YoProgramo
                </p>
            </div>
        </div>
        <div class="card-proyect">
            <div class="edit-control">
                <i class="bi bi-pencil-square"></i>
                <i class="bi bi-trash3"></i>
            </div>
            <div class="proyect-hero">
                <h3>Placeholder</h3>
                <img src="../assets/images/proyectgameboy.png" alt="Placeholder" />
            </div>
            <div class="proyect-info">
                <p class="card-paragraph">
                    Agregar contenido</p>
            </div>
        </div>
        <div class="proyect-container">

        </div>
    </div>
</article>