<article>
    <h2 lang="en">Hard & soft skills <i class="bi bi-plus-circle"></i></h2>
    <div class="bar-row">

        <div class="bar-info">
            <h3>
                <div class="edit-control">
                    <i class="bi bi-pencil-square"></i>
                    <i class="bi bi-trash3"></i>
                </div>
                HTML
            </h3>
            <h3>70%</h3>
        </div>
        <progress class="progress-bar" max="100" value="70">70%</progress>
    </div>


    <div class="bar-info">
        <h3>
            <div class="edit-control">
                <i class="bi bi-pencil-square"></i>
                <i class="bi bi-trash3"></i>
            </div>
            CSS
        </h3>
        <h3>60%</h3>
    </div>
    <progress class="progress-bar" max="100" value="60">60%</progress>


    <div class="bar-info">
        <h3>
            <div class="edit-control">
                <i class="bi bi-pencil-square"></i>
                <i class="bi bi-trash3"></i>
            </div>
            Javascript
        </h3>
        <h3>74%</h3>
    </div>
    <progress class="progress-bar" max="100" value="74">74%</progress>
    
    <div class="bar-info">
        <h3>
            <div class="edit-control">
                <i class="bi bi-pencil-square"></i>
                <i class="bi bi-trash3"></i>
            </div>
            Inglés
        </h3>
        <h3>85%</h3>
    </div>
    <progress class="progress-bar" max="100" value="85">85%</progress>
</article>