<!-- Navigation -->
<div class="top-bar">
    <div class="logo-argentinaprograma">
        <img src="../assets/images/argentinaprograma.png" alt="#" />
        Argentina Programa
    </div>
    <nav class="nav">
        <a href="#" class="nav-link bi-twitter"> Twitter</a>
        <a href="#" class="nav-link bi-github"> Github</a>
        <a href="#" class="nav-link bi-pencil-fill"> Login</a>
    </nav>
</div>

<!-- Hero -->
<div class="hero">
    <i class="bi bi-pencil-square hicon"></i>
    <div class="title-edit">
        <h1 class="title">Miguel Matas<i class="bi bi-pencil-square hicon"></i></h1>
    </div>
    <img src="../assets/images/banner-unspash.jpeg" alt="" class="hero-image" />

</div>
<div class="thumbnail">
    <img src="../assets/images/thumbnail-transparent.png" alt="" />
    <i class="bi bi-pencil-square hicon"></i>
</div>