<article>
    <h2>Educación <i class="bi bi-plus-circle"></i></h2>
    <div class="card-container">
        <div class="card">
            <div class="card-logo">
                <img src="../assets/images/logounsta.png" alt="Logo UNSTA" />
                <div class="edit-control">
                    <i class="bi bi-pencil-square"></i>
                    <i class="bi bi-trash3"></i>
                </div>
            </div>
            <div class="card-main">
                <h3 class="card-title">Universidad</h3>
                <p class="card-paragraph">UNSTA - Licenciatura en turismo</p>
                <p class="card-paragraph">Tucumán - (incompleto)</p>
            </div>
        </div>
        <div class="card">
            <div class="card-logo">
                <img src="../assets/images/logoalmafuerte.png" alt="Logo colegio Almafuerte" />
                <div class="edit-control">
                    <i class="bi bi-pencil-square"></i>
                    <i class="bi bi-trash3"></i>
                </div>
            </div>
            <div class="card-main">
                <h3 class="card-title">Escuela Secundaria</h3>
                <p class="card-paragraph">Colegio Almafuerte</p>
                <p class="card-paragraph">Tucumán - 1998 - 2002</p>
            </div>
        </div>
        <div class="card">
            <div class="card-logo">
                <img src="../assets/images/logonorthpenn.png" alt="Logo North Penn" />
                <div class="edit-control">
                    <i class="bi bi-pencil-square"></i>
                    <i class="bi bi-trash3"></i>
                </div>
            </div>
            <div class="card-main">
                <h3 class="card-title">Escuela Secundaria</h3>
                <p class="card-paragraph">North Penn High School</p>
                <p class="card-paragraph">Pennsylvania, USA - 2001 - 2002</p>
            </div>
        </div>
    </div>
</article>