<article>
    <h2>Experiencia <i class="bi bi-plus-circle"></i></h2>
    <div class="card-container">
        <div class="card">
            <div class="card-logo">
                <img src="../assets/images/logoxanadu.png" alt="Logo Xanadú" />
                <div class="edit-control">
                    <i class="bi bi-pencil-square"></i>
                    <i class="bi bi-trash3"></i>
                </div>
            </div>
            <div class="card-main">
                <h3 class="card-title">Administración</h3>
                <p class="card-paragraph">Salón de Eventos "Xanadú S.R.L"</p>
                <p class="card-paragraph">Tucumán - 2008 - 2018</p>
            </div>
        </div>
        <div class="card">
            <div class="card-logo">
                <img src="../assets/images/logoplaceholder.png" alt="Logo placeholder" />
                <div class="edit-control">
                    <i class="bi bi-pencil-square"></i>
                    <i class="bi bi-trash3"></i>
                </div>
            </div>
            <div class="card-main">
                <h3 class="card-title">Placeholder</h3>
                <p class="card-paragraph">Agregar contenido</p>
                <p class="card-paragraph">Lugar - xxxx - xxxx</p>
            </div>
        </div>
        <div class="card">
        </div>
    </div>
</article>